#about {
  @include slash;

  .about-wrapper {
    font-size: 1.2rem;

    &-image {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        max-width: 300px;
        width: 100%;

        @include respond(sm) {
          max-width: 250px;
        }
      }
    }

    &-info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      a{
        font-size: 1rem;
      }
    }
  }
}
