section {
  padding: 5rem 0rem;
  
  @include respond(md) {
    padding: 3rem 0rem;
  }

  @include respond(sm) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h2{
    @include textGradientColor;
  }
}
